.group {
	margin-bottom: 2em;
}

.item {
	scroll-snap-align: start;
	position: relative;
	padding: 1rem;
}

.details {
	position: absolute;
	bottom: 0;
	padding: 2em;
	width: 100%;
	background-image: linear-gradient(to bottom, transparent, #022536);
	color: #eee;
}
