.details {
	display: flex;
	width: 100%;
}

.poster {
	object-fit: cover;
	max-width: 30%;
	width: 100rem;
	height: 100%;
	max-height: 80vh;
}

.overview {
	padding: 0 2em;
	display: flex;
	flex-direction: column;
	gap: 2em;
	color: whitesmoke;
}
