.info {
	list-style: none;
	margin-top: auto;
	margin-bottom: 2em;
	line-height: 1.3;
}

.inline {
	display: inline-block;
}

.language {
	margin: 0 0.3em;
}

.language::after {
	content: ",";
}

.language:last-child::after {
	content: "";
}

.genres {
	list-style: none;
	font-size: 0.8em;
}

.genre {
	padding: 0.3em 1em;
	margin: 0.3em;
	border-radius: 1em;
	background-color: #03354f;
	box-shadow: 0 2px 8px #000;
	cursor: pointer;
}

.genre:hover {
	background-color: rgba(3, 52, 79, 0.663);
}
