.section {
	margin-bottom: 3rem;
	margin-right: 3rem;
}

.section__header {
	color: whitesmoke;
	padding: 1em;
}

.group {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
	color: whitesmoke;
}

.details {
	padding: 1em;
	background-color: #001940;
}

.year {
	font-size: 0.8em;
	letter-spacing: 0.1em;
	font-weight: 200;
}
