.section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
	margin-bottom: 3rem;
}

.details {
	padding: 1em;
	background-color: transparent;
}

.year {
	font-size: 0.8em;
	letter-spacing: 0.1em;
	font-weight: 200;
}
