.tile {
	border-radius: 0.5em;
	position: relative;
	transition: all 0.3s;
}

.tile:hover {
	transform: scale(1.3);
	z-index: 2;
	box-shadow: 0 2px 8px #000;
	background-color: rgb(3, 55, 80);
}

.thumbnail {
	object-fit: cover;
	width: 100%;
	aspect-ratio: 2/1;
	border-radius: 0.5em;
}

/* .thumbnail:hover {
	transform: scale(1.1);
} */
