*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: rgba(0, 5, 13, 0.959);
	padding-bottom: 2em;
	overflow-x: hidden;
	font-family: "Lora", serif;
}

img {
	display: block;
}

button {
	font: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}
