.playlist__button {
	background-color: transparent;
	border: 1px solid transparent;
	display: flex;
	gap: 0.5em;
	color: whitesmoke;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.playlist__icon {
	transition: all 0.3s;
	cursor: pointer;
}

.playlist__icon:hover {
	transform: scale(1.3);
}
